fastapi==0.110.0
uvicorn==0.27.1

torch==2.1.2
torchvision==0.16.2

diffusers==0.27.2
transformers==4.38.2
accelerate==0.27.2
huggingface_hub==0.20.3
triton==2.1.0

safetensors
pillow
python-multipart

numpy<2
